<launch>
  <node pkg="robot_precision_ekf" type="robot_precision_ekf" name="EKF" output="screen">
    <!-- Filter parameters -->
    <param name="global_frame_id" value="map"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="sensor_timeout" value="1.0"/>

    <!-- General parameters -->
    <param name="filter_type" value="ekf_5state"/>
    <param name="odom_used" value="true" />
    <param name="imu_used" value="true" />
    <param name="gps_used" value="true" />
    <param name="freq" value="10.0" />
    <param name="transform_tolerance" value="0.15" />

    <!-- Noise parameters -->
    <param name="sigma_sys_x" value="0.01"/>
    <param name="sigma_sys_y" value="0.01"/>
    <param name="sigma_sys_tht" value="0.02"/>
    <param name="sigma_sys_vel" value="0.40"/>
    <param name="sigma_sys_omg" value="0.40"/>
    <param name="sigma_sys_imubias" value="0.00001"/>
  
    <param name="sigma_meas_gps_x" value="0.10"/>
    <param name="sigma_meas_gps_y" value="0.10"/>
    <param name="sigma_meas_odom_alpha" value="0.001"/>
    <param name="sigma_meas_odom_epsilon" value="0.001"/>
    <param name="sigma_meas_imu_omg" value="0.20"/>

    <!-- Other -->
    <param name="debug" value="true"/>
  </node>
</launch>
